/******************
    White Section
*******************/
.aboutImage-section {
    padding: 100px;
    background: whitesmoke;

    .about-image-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(2.2em + 2px);
        font-weight: 200;
        margin-top: 50%;
        transform: translateY(-50%);
    }

    .about-image-list {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 4px);
        font-weight: 200;
    }

    .about-image-location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 6px);
        font-weight: 200;
    }
}
#about-slider {
  padding: 200px;

  .slider-img {
    width: 800px;
    height: 800px;
  }
}
.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 600px;
    height: 600px;
}
