/******************
    White Section
*******************/
.aboutImage-section {
    padding: 100px;
    padding-top: 100px;

    .about-image-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(2.2em + 2px);
        font-weight: 200;
        padding-top: 0%;
    }

    .about-image-list {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 4px);
        font-weight: 200;
        padding-top: 45%;
    }
    .about-image-location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 6px);
        font-weight: 200;
        padding-top: 45%;
    }
}
