/******************
    White Section
*******************/
.aboutImage-section {
    padding: 100px;
    background: whitesmoke;

    .abiImg {
        background-size: cover;
        min-height: 600px;
        background-repeat: no-repeat;
        margin: 0 auto;
        cursor: url("images/icons/abiHover.png"), auto;
    }

    .abi-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 0;
        background-color: rgba(0,0,0,.4);
        display: flex;
        align-items: center;
        justify-content: center;
        visibility: hidden;
        transition: all 0.4s ease-in-out;

        .info {
            color: white;
            font-size: 3em;
            text-align: center;
            font-weight: 200;
            opacity: 0;
            visibility: hidden;
            transition: all 0.2s ease-in-out;
        }
    }

    .abiImg:hover {
        .abi-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,.4);
            display: flex;
            align-items: center;
            justify-content: center;
            visibility: visible;
            transition: all 0.4s ease-in-out;

            .info {
                color: white;
                font-size: 3em;
                text-align: center;
                font-weight: 200;
                opacity: 1;
                visibility: visible;
                transition: all 0.4s ease-in-out;
            }
        }
    }

    .about-image-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(2.2em + 2px);
        font-weight: 200;
        margin-top: 50%;
        transform: translateY(-50%);
    }

    .about-image-list {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 4px);
        font-weight: 200;
    }

    .about-image-location {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: calc(1em + 6px);
        font-weight: 200;
    }
}

#about-slider {
    padding: 200px 0;

    .slider-img {
        width: 800px;
        height: 800px;
    }
}

.swiper-container {
    width: 100%;
    height: 700px;
    background: #000;
    cursor: url("images/icons/abiHover-scroll.png"), auto;
}

.swiper-slide {
    font-size: 18px;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 40px 60px;
}

.parallax-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 160%;
    height: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;
}

.swiper-slide .title {
    font-size: calc(2.6em + 4px);
    font-weight: 300;
}

.swiper-slide .subtitle {
    line-height: 3em;
}

.swiper-slide .text {
    font-size: 14px;
    max-width: 400px;
    line-height: 1.3;
}

.ab-head {
    text-align: center;
    font-size: calc(6em + 2px);
    font-weight: 200;
}

.info-wrapper {
    width: 100%;
    box-sizing: border-box;
    padding: 40px 60px;
    text-align: center;
}

thead {
    tr {
        font-size: calc(2em + 4px);
        font-weight: 200;

        td {
            border-bottom: 1px solid white;
        }
    }
}

tbody {
    tr {
        td {
            font-weight: 200;
            font-size: calc(1.1em + 2px);
        }
    }
}
