/*************************
  Nav Menu Items Styles
*************************/


.menu-list {
  list-style: none;
  display: inline-flex;

  .menu-list-item {
    padding: 0 4em;
    font-size: calc(2.2em + 2px);
    font-weight: 100;
    position:relative;
    top:2em;
    opacity: 0;

    .menu-link {
      text-decoration:none;
      color:white;
      cursor: pointer;
    }
    .menu-link:hover {
      text-decoration:none;
    }
  }
}
#copyright {
  position: absolute;
  bottom: 2em;
  color:white;
}
