/************************
    Sidebar Styles
************************/
.sidebar-section {
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 1;
    transition: all 0.4s ease-in-out;
    padding: 0;
    width: 0;
    visibility: hidden;

    .no-padding {
        padding: 0;
        overflow: auto;
        height: 100vh;
    }

    .media-item {
        height: 300px;
        padding: 0;
    }

    .media-item:first-child {
        background: black;
        color:white;
    }


}
.sidebar-header {
    position: absolute;
bottom: 2em;
}

.cs-iframe {
    width:400px !important;
    height:300px !important;
}
iframe {
    border:none;
}
